body{	
	display:flex;
	background-color: orange;
}
#sport{
	width: 50%;
	display:flex;
	flex-direction : column;
}
#sportif{	
	width: 50%;
	display:flex;
}
.f{
	background-color: gray;
}
.t{
	background-color: orange;
}
.f1{
	background-color: blue;
}
.r{
	background-color: red;
}
.n{
	background-color: green;
}